---
layout: default
---

{% include site-header.html %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7WJ2KHE1DF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7WJ2KHE1DF');
</script>

<main class="main  container">

	<div class="content">

    <article class="article  article--page  typeset">

			{% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
			<h1>drinkcheap</h1>

    </article>

    <ul class="list  list--posts">
    {% for page in site.posts limit: 10 %}
      <li class="item  item--post" data-day="{{ page.day }}" data-start="{{ page.start }}" data-end="{{ page.end }}" data-recurring="{{ page.recurring }}">
        <article class="article  article--post  typeset">

          <h2><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
          {{ page.excerpt | markdownify | truncatewords: 60 }}

        </article>
      </li>
    {% endfor %}
  </ul>
  </div>
</main>

<script>
    function filterPosts() {
        function getDistance(day1, day2) {
            const index1 = days.indexOf(day1);
            const index2 = days.indexOf(day2);
            return (index2 - index1 + 7) % 7; // Calculate distance considering wrap-around
        }

        function compareTimes(timeStr1, timeStr2) {
            let [hours1, minutes1] = timeStr1.split(':').map(Number);
            let [hours2, minutes2] = timeStr2.split(':').map(Number);

            if (hours1 < hours2 || (hours1 === hours2 && minutes1 < minutes2)) {
                return -1; // left < right
            } else if (hours1 > hours2 || (hours1 === hours2 && minutes1 > minutes2)) {
                return 1; // left > right
            } else {
                return 0;
            }
        }

        function getCurrentTimeString() {
          const now = new Date();
          const hours = String(now.getHours()).padStart(2, '0');
          const minutes = String(now.getMinutes()).padStart(2, '0');
          const seconds = String(now.getSeconds()).padStart(2, '0');
          
          return `${hours}:${minutes}:${seconds}`;
      }

        const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        const now = new Date();
        const currentDay = days[now.getDay()];

        const list = document.querySelector('.list.list--posts');
        const items = Array.from(list.getElementsByTagName('li'));

        items.sort((a, b) => {
          const dayA = a.getAttribute('data-day');
          const dayB = b.getAttribute('data-day');
          const timeA = a.getAttribute('data-start');
          const timeB = b.getAttribute('data-start');
          
          const distanceA = getDistance(currentDay, dayA);
          const distanceB = getDistance(currentDay, dayB);

          if ((distanceA - distanceB) != 0) {
            return distanceA - distanceB;
          }

          return compareTimes(timeA, timeB);
      });

        list.innerHTML = '';
        items.forEach(item => list.appendChild(item));

        const posts = document.querySelectorAll('.item--post');
        const collectionTitle = document.title;
        var posted = 0;
        const currTime = getCurrentTimeString();

        posts.forEach(post => {
            const postDay = post.getAttribute('data-day');
            const recurring = post.getAttribute('data-recurring');
            const postStart = post.getAttribute('data-start');
            const postEnd = post.getAttribute('data-end');

            if (recurring == "true") {
	            if (collectionTitle === "drinkcheap - drinkcheap" && (postDay !== currentDay || (compareTimes(postStart, currTime) > 0 || compareTimes(postEnd, currTime) < 0))) {
	                post.style.display = 'none';
	            }
	            else if (collectionTitle == "upcoming - drinkcheap" && postDay == currentDay) {
                    post.style.display = 'none';
	            }
	            else {
	            	posted++;
	            }
	         }
        });

        if (posted == 0) {
        	const message = document.createElement('p');
        	message.style.marginTop = '50px';
        	message.textContent = 'No upcoming listings right now';
        	if (document.title == "drinkcheap - drinkcheap") {
        		message.textContent = 'No active listings today. Please check the <a href="upcoming.html">upcoming</a> section. Thanks!'
        	}

        	message.style.color = '#5B5BFF'; // Optional: style the message

	        // Insert the message into the DOM
	        const contentDiv = document.querySelector('.content');
	        contentDiv.appendChild(message);

        }
    };

    document.addEventListener("DOMContentLoaded", filterPosts);
    window.addEventListener("popstate", filterPosts);
    window.addEventListener("hashchange", filterPosts);
</script>

{% include site-footer.html %}
